/* Row layout for the header */
.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Column layout for the footer */
.nav-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 3rem;
  font-size: 0.7rem;

  @media (min-width: 768px) {
    line-height: 1.3rem;
  }
}

/* Common styling */
.nav-item {
  margin: 0;
  font-size: 1.1rem;
  font-weight: normal;
}
