/* Row layout for the header */
.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Column layout for the footer */
.nav-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 3rem;
  font-size: 0.7rem;

  @media (min-width: 768px) {
    line-height: 1.3rem;
  }
}

/* Common styling */
.nav-item {
  margin: 0;
  font-size: 1.1rem;
  font-weight: normal;
  padding-bottom: 2px;
  position: relative;
}

.nav-item::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: azure;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}
